<div class="feed-container">
  <mat-card-title>Create a new post:</mat-card-title>
  <mat-card-content>
    <app-create-post (postCreated)="loadPosts()"></app-create-post>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-title>Explore posts:</mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="posts.length > 0; else noPosts">
      <app-post-card
        *ngFor="let post of paginatedPosts"
        [post]="post"
        (postDeleted)="handlePostDeleted($event)"
        (postUpdated)="handlePostUpdated($event, post._id)"
        class="post-card"
      ></app-post-card>
    </ng-container>

    <mat-paginator
      *ngIf="posts.length > 0"
      [length]="posts.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>

    <ng-template #noPosts>
      <p>No posts available.</p>
    </ng-template>
  </mat-card-content>
</div>
